<header id="headtop">
  <div id="logo">
    <h2>Health <span>Tracking</span></h2>
  </div>

  <div id="address">
    <p>📞 +92 331 8650997</p>
    <p>📧 awaisfarooq63100@gmail.com</p>
  </div>
</header>

<nav id="navigation">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/html/categoriges.html">Categories</a></li>
    <li><a href="/html/service.html">Services</a></li>
    <li><a href="/html/aboutus.html">About</a></li>
    <li><a href="#" onclick="toggleDarkMode()" id="themeIcon">🌙</a></li>
    <li><a href="/html/login.html" onclick="logout()">Logout</a></li>
  </ul>
</nav>